{% extends "../base.html" %}
{% load static %}
{% block content %}
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <span class="breadcrumb-item active">Sign in</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Login Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Sign in</span>
    </h2>
    <div class="row px-xl-5">
        <div class="col-sm-6 mx-auto">
            <div class="contact-form bg-light p-30">
                <div id="success"></div>
                <form name="sentMessage" id="contactForm" novalidate="novalidate" method="post">
                    {% csrf_token %}
                    <div class="control-group">
                        <input type="text" class="form-control" name="username" placeholder="Your Name" required="required"
                            data-validation-required-message="Please enter your name" />
                        <p class="help-block text-danger"></p>
                    </div>

                    <div class="control-group">
                        <input type="password" class="form-control" name="password" placeholder="Password"
                            required="required" data-validation-required-message="Please enter a subject" />
                        <p class="help-block text-danger"></p>
                    </div>

                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">
                            Sign in</button>
                    </div>
                
                </form>
            </div>
        </div>
  
    </div>
</div>
<!-- Login End -->

{% endblock content %}